@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --primary-color: #bfdbfe;
  --secondary-color: #3b82f6;
  --off-white: #dbeafe;
  --dark-color: #2563eb;
}

body {
  font-family: "Montserrat";
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  max-width: 650px;
  margin: auto;
  text-align: center;
}

.navigation ul {
  list-style: none;
  text-align: right;
}

.navigation li {
  padding: 0rem 0.5rem;
  display: inline;
}

.navigation {
  padding-top: 2rem;
  color: white;
  background-color: var(--secondary-color);
  padding: 1rem;
  border-bottom-left-radius: 2rem;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.navigation li a:hover {
  color: black;
  font-weight: bold;
}

.navigation .nav-brand {
  font-weight: 600;
  font-size: 1.3rem;
}

.navigation .link-active {
  font-weight: 900;
}

/* Intro header */
.hero {
  margin: auto;
  text-align: center;
  padding: 2rem;
}

.hero-header {
  text-align: center;
  color: var(--secondary-color);
  font-weight: 600;
  font-style: italic;
}

.intro-header-image {
  margin: 2rem;
  height: 400px;
  width: 400px;
}

.intro-header-text {
  color: var(--dark-color);
  font-weight: 900;
  font-style: italic;
  font-size: 15px;
}

.off-white {
  background-color: var(--off-white);
  padding: 3rem;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  color: var(--dark-color);
  margin: 0.5rem;
}

.btn-secondary {
  border: 1px solid var(--dark-color);
  background-color: var(--off-white);
  text-decoration: none;
}

footer {
  margin: 1rem;
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 1rem;
}

footer ul {
  list-style: none;
}
footer ul li {
  display: inline;
  padding-right: 0.5rem;
}

footer ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

footer i {
  padding: 0.1rem;
  font-size: 5rem;
}

.portfolio-header {
  padding-top: 3rem;
  font-size: 1.5rem;
}

.date {
  font-size: 1.3rem;
}

.para-1 {
  /* text-align: center; */
  width: 50rem;
}

.tag {
  padding: 0.5rem 1rem;
  background: none;
  margin: 0.5rem;
  border: 1px solid var(--dark-color);
  border-radius: 1rem;
}

@media only screen and (max-width: 700px) {
  .intro-header-image {
    margin: 2rem;
    height: 200px;
    width: 200px;
  }

  .para-1 {
    /* text-align: center; */
    width: 19rem;
  }
  .btn {
    display: block;
    width: 8rem;
  }
}

